flycheck

ido.hist
recent-addresses
.savefile
.elc
archive/
shared-functions.el

gnu-emacs-startup.el

fonts-and-themes.el
*emacs-lisp*
gnu-emacs-startup.org[*Org Src gnu-emacs-startup.org[ emacs-lisp ]*]

shared-functions.org[*Org Src shared-functions.org[ emacs-lisp ]*]

shared-functions.org[*Org Src shared-functions.org[ emacs-lisp ]*]

tufte-org-mode-master/tufte-book.pdf

tufte-org-mode-master/tufte-book.pdf

tufte-org-mode-master/tufte-handout-no-examples.pdf

tufte-org-mode-master/tufte-handout.html

tufte-org-mode-master/tufte-handout.pdf

tufte-org-mode-master/tufte-latex.pdf

spacemacs.d/.savefile/recentf
pastebin-credentials.el
