
flycheck

ido.hist
recent-addresses
.savefile
.elc
archive/
shared-functions.el

*.savefile

gnu-emacs-startup.el

fonts-and-themes.el
*emacs-lisp*

tufte-org-mode-master/tufte-book.pdf

tufte-org-mode-master/tufte-book.pdf

tufte-org-mode-master/tufte-handout-no-examples.pdf

tufte-org-mode-master/tufte-handout.html

tufte-org-mode-master/tufte-handout.pdf

tufte-org-mode-master/tufte-latex.pdf

spacemacs.d/.savefile/recentf
pastebin-credentials.el
secret-codes.el
spacemacs.d/unique_lines.txt
*old/
spacemacs.d/.DS_Store
spacemacs.d/spacemacs.env
spacemacs.d/spacemacs.env
spacemacs.env
spacemacs.d/.spacemacs.env
/spacemacs.d
spacecraft-mode.el
spacecraft-mode.el
.DS_Store


*Emacs build artifacts
*.elc
*.eln            # native-comp output (Emacs 28+)
auto-save-list/
tramp/
url/cache/

*Spacemacs/straight/package.el checkouts
elpa/
straight/ 
*.elc
